.features-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background: rgb(255,255,255);
    margin-bottom: 30px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(210,228,232,1) 49%, rgba(159,201,204,1) 93%, rgba(140,191,192,1) 100%);
}  
    .feature-tag{
    margin: 0px 20px;
    font-size: 28px;
    font-weight: bold;
    color: white
   
}
.features-card{
    margin: 10px 20px;
}
.features-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
    .features-container{
        flex-direction: column;
    }
  }

.footer-tag {
    margin: 5px 20px;
    border: 1px solid rgb(202, 196, 196);
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}