
.hood-card{
    /* margin-bottom: 20px; */
    border: 1px solid rgb(204, 193, 193);
    border-radius: 10px;
    margin: 0 1%;
    flex: 1;
}

.hood-container{
    display: flex;
    flex-direction: column;
    top: 5vh;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    margin: 1% 0%;
}

.hood-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-under-hood-tag{
    height: 50vh;
    top: 0;
    align-items: stretch;
    bottom: 0;
    object-fit: fill;
    margin: 1%;
    border: 5px solid white;
    border-radius: 15px;
}