
.hood-card{
    /* margin-bottom: 20px; */
    border: 1px solid rgb(204, 193, 193);
    border-radius: 10px;
    margin: 0 1%;
    flex: 1;
}

.hood-container{
    display: flex;
    flex-direction: column;
    /* top: 5vh; */
    /* position: absolute; */
    width: 100%;
    justify-content: space-around;
    /* margin: 1% 0%; */
}

.hood-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-under-hood-cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-under-hood-tag{
    height: 50vh;
    top: 0;
    align-items: stretch;
    bottom: 0;
    object-fit: fill;
    margin: 1%;
    border: 5px solid white;
    border-radius: 15px;
    width: 50%;
}

.under-the-hood-tag {
    font-size: 28px;
    font-weight: bold;
    margin: 10vh 0px 0px 20px;
}
@media only screen and (max-width: 900px) {
    .img-under-hood-tag{
        height: 50vh;
        top: 0;
        align-items: stretch;
        bottom: 0;
        object-fit: fill;
        margin: 1%;
        border: 5px solid white;
        border-radius: 15px;
        width: 100%;
       
    }
    
  }