
.hood-card{
    border: 1px solid rgb(204, 193, 193);
    border-radius: 10px;
    margin: 0 1%;
    flex: 1;
}

.hood-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.hood-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-under-hood-cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-under-hood-tag{
    height: 60vh;
    top: 0;
    align-items: stretch;
    bottom: 0;
    object-fit: fill;
    border-radius: 15px;
    width: 100%;
}

.under-the-hood-tag {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0px 0px 20px;
}
@media only screen and (max-width: 900px) {
    .img-under-hood-tag{
        height: 50vh;
        top: 0;
        align-items: stretch;
        bottom: 0;
        object-fit: fill;
        width: 100%;
       
    }
    
  }