.project-card{
    min-width: 20vw;
    height: auto;
}

.project-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: wrap;
    margin: 20px;
}

.btn-class{
    margin:0px 20px;
    display: flex;
    justify-content: space-between;
}

.create-new-project-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 90vh
}

.project-tag{
    font-size: 28px;
    font-weight: bold;
}

.textfield{
    margin-bottom: "100px"
}

@media only screen and (max-width: 600px) {
    .btn-class{
        flex-direction: column;
        gap: 20px;
    }
  }
  