.about-content{

    padding: 20px;
}
.about-text {
    margin: 20px 0px;
}
.about-tag{
    font-size: 28px;
    font-weight: bold;
}

.about-container{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.about-main {
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height: 100vh;
}
@media only screen and (max-width: 800px) {
    .about-container{
        flex-direction: column;
    }
    .about-main{
        background-color: rgb(247, 247, 247);
        width: 100vw;
        height: 100%;
    }
  }

