.about-content{

    padding: 20px;
}
.about-text {
    margin: 20px 0px;
}
.about-tag{
    font-size: 28px;
    font-weight: bold;
}

.about-container{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.about-main {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100vh;
}