
.hood-card{
    margin-bottom: 20px;
   border: 1px solid rgb(204, 193, 193);
   border-radius: 10px;
    margin: 1%;
    flex: 1;
}

.hood-container{
    display: flex;
    flex-direction: column;
    top: 10vh;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    margin: 10px;
}

.hood-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-under-hood-tag{
    width: 98%;
    height: 30vh;
    top: 0;
    left: 2%;
    align-items: stretch;
    bottom: 0;
    right: 2%;
    object-fit: fill;
}